/* The Result Page Styles */
.result-div{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.result-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  flex: 70%;
  display: flex;
  align-items: flex-start;
}

.tips-btn{
  background-color: #096319;
}
.text-div{
  display: block;
}

.btn-div{
  flex: 30%;
  margin-left: 50px;
}
.result-text{
  /* background-color: red; */
  color: #F9C05F;
  font-size: 70px;
  font-weight: bold;
}
.percent{
  /* background-color: #096319; */
  margin-top: 30px;
  font-size: 96px;
  margin-left: 285px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
.confidence{
  /* background-color: #096319; */
  color: white;
  margin-left: 250px;
  margin-right: 10px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.asured{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.asured h1{
  margin-bottom: 5px;
  margin-top: 30px;
}
.leaf{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./example.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-late{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./Late.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-new{
  cursor: pointer;
  margin-top: 0px;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-learn{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./Early.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
  margin-left: 50px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Reccomend Part */
.recomend-text{
  color: #F9C05F;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}


.recomend-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}

.reco-list{
  list-style:circle;
}

.reco-list li{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* For the Learn Part */
.learn-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.learn-center-container{
  margin-top: 40px;
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 70px;
  
}

.learn-text{
  margin-left: 530px;
  color: #F9C05F;
  font-size: 40px;
  font-family: sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.learn-info-container{
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 100px;
  margin-bottom: -90px;
  margin-top: -30px;
  /* background-color: aquamarine; */

}
.learn-info-container-two{
  display: grid;
  grid-template-columns: 30% 70%;
  padding-bottom: 100px;
  margin-bottom: -90px;
  margin-top: -30px;
}
.learn-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}
.learn-part-op{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 123px;
  margin-left: -10px;
  margin-bottom: 50px;
  height: 400px;
}

.learn-div{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.healthy{
  color: #F9C05F;
  font-family: sans-serif;
}

.disc{
  font-family:  sans-serif;
  color: white;
  font-size: 27px;
  margin-top: 20px;
  margin-right: 20px;
}

.learn-btn{
  margin-left: 50px;
  width: 250px;
  height: 70px;
  border-radius: 30px;
  stroke: none;
  border: none;
  background-color: #096319;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-btn{
  margin-left: 20px;
  width: 250px;
  height: 70px;
  border-radius: 30px;
  stroke: none;
  border: none;
  background-color: #096319;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* User Profile Styles */
.scans{
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
}
.user-show{
  position: relative;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}
.user-cover{
  background-image: url('./horizontal.jpg');
  position: relative;
  background-color: #096319;
  height: 200px;  padding-left: 40px;
  border-radius: 50px 50px 0px 0px;
}
.user-pic{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 130px;
  left: 100px;
}
.user-pic img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.profile-name{
  margin-top: 5px;
  color: white;
  margin-left: 270px;
  margin-bottom: -5px;
  font-family: sans-serif;

}
.profile-info{
  color: white;
  margin-left: 270px;
  font-family: sans-serif;
}
.scans-count{
  font-size: 90px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  /* margin-left: 120px; */
  /* background-color: #096319; */
  text-align: center;
}
.scan-info{
  color: white;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-top: -20px;
  margin-left: 30px;
}
.scans button{
  margin-left: 25px;
  margin-top: 35px;

}
.user-show button{
  margin-left: 615px;
  margin-top: -20px;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* Login Part */
.login{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 500px;
  height: 500px;
  width: 450px;
}
.login h2{
  font-family: sans-serif;
  color: white;
  font-size: 35px;
  text-align: center;
}
.login h1{
  font-family: sans-serif;
  color: white;
  margin-top: 25px;
  margin-left: 55px;
  font-size: 20px;


}
.login p{
  /* background-color: #096319; */
  cursor: pointer;
  font-family: sans-serif;
  color: rgb(255, 194, 25);
  font-weight: bold;
  text-align: center;
  /* margin-left: 95px; */
  margin-top: 20px;

}
.login .majibu{
  margin-left: 0px;
  text-align: center;
}
.login input{
  padding-left: 10px;
  margin-left: 55px;
  margin-top: 20px;
  width: 330px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: sans-serif;
}
.login button{
  margin-top: 30px;
  width: 333px;
  height: 50px;
  margin-left: 55px;
  border-radius: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* User History Part */
.hist-divider{
  display: grid;
  grid-template-columns: 70% 30%;
  /* background-color: aquamarine; */
}
.hist-container{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 530px;
  overflow: auto;
  margin-left: 100px;
  /* background-color: green; */
}
.hist-cont{
  display: flex;
  width: 400px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
}
.hist-img{
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
}
.hist-cont h1{
  color: #F9C05F;
  margin-left: 20px;
  margin-top: 20px;
}
.hist-cont h2{
  color:white;
  margin-left: 20px;
  margin-top: -10px;
}
.hist-cont p{
  color: white;
  margin-left: 20px;

}
.common h2{
  margin-top: 20px;
  margin-left: 30px;
}
.common h1{
  text-align: center;
}
.cal-cont .hist-cont{
  width: 300px;
  margin-left: 20px;
}
/* .cal-cont{
  background-color: #F9C05F;
} */
/* ------------------------------ */
/* calenda part */
.hist-cal{
  width: 300px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 50px;
}
.grid{
  width: 300px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid .l-a{
  cursor: pointer;
  grid-column: span 2;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-top: 10px;

}
.grid .m{
  grid-column: span 3;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-top: 10px;


}
.grid .r-a{
  cursor: pointer;
  grid-column: span 2;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-top: 10px;

}
.cal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
}
.day{
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
/* ----------------------------------------------------------------------------------------------------- */
/* Edit Profile Part */
.profile-div{
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: red; */
}
.profile-div .login{
  margin-left: 240px;
}
.profile-upload{
  display: flex;
  width: 300px;
  height: 300px;
  /* background-color: green; */
}
.p-upload{
  cursor: pointer;
  margin-top: 25px;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./upload.png');
  background-size:60%;
  background-position:center ;
  background-repeat: no-repeat;
  margin-left: 70px;
}
.profile-leaf{
  cursor: pointer;
  margin-top: 0px;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.p-upload p{
  height: 250px;
  width: 200px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 230px;
  color: rgb(0, 0, 0, 0.8);
  /* background-color: red; */
}

.login .upbtn{
  margin-top: 25px;
}


/* Drop Down Part */

.dropdown {
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 10px;
  /* border: rgb(2, 54, 15) 1px solid; */
  position: absolute;
  display: inline-block;
  top: 150px;
  right: 170px;
}

.dropdown ul{
  margin-left: -25px;
  margin-right: 10px;
}
.dropdown li{
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
}
/* add on hover effect */
.dropdown li:hover{
  background-color: #F9C05F;
  color: white;
}
/* add a 45 deg square to act as arrow */
.dropdown::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 35px;
  border: 10px solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.637)   transparent;
}