/* The Result Page Styles */
.result-div{
  display: flex;
  flex-direction: column;
}
.result-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  flex: 70%;
  display: flex;
  align-items: flex-start;
}

.btn-div{
  flex: 30%;
  margin-left: 50px;
}
.result-text{
  color: #F9C05F;
  font-size: 70px;
  font-weight: bold;
}
.percent{
  margin-top: 30px;
  font-size: 96px;
  margin-left: 285px;
  color: white;
  font-weight: bold;
}
.confidence{
  color: white;
  margin-left: 300px;
  font-size: 60px;
  font-weight: bold;
}
.asured{
  display: flex;
  flex-direction: column;
}
.asured h1{
  margin-bottom: 5px;
  margin-top: 30px;
}
.leaf{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./example.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-new{
  cursor: pointer;
  margin-top: 0px;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}


/* Reccomend Part */
.recomend-text{
  color: #F9C05F;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}


.recomend-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}

.reco-list{
  list-style:circle;
}

.reco-list li{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}