/* The Result Page Styles */
.result-div{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.result-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  flex: 70%;
  display: flex;
  align-items: flex-start;
}

.tips-btn{
  background-color: #096319;
}
.text-div{
  display: block;
}

.btn-div{
  flex: 30%;
  margin-left: 50px;
}
.result-text{
  /* background-color: red; */
  color: #F9C05F;
  font-size: 70px;
  font-weight: bold;
}
.percent{
  margin-top: 30px;
  font-size: 96px;
  margin-left: 285px;
  color: white;
  font-weight: bold;
}
.confidence{
  color: white;
  margin-left: 300px;
  font-size: 60px;
  font-weight: bold;
}
.asured{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.asured h1{
  margin-bottom: 5px;
  margin-top: 30px;
}
.leaf{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./example.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-late{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./Late.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-new{
  cursor: pointer;
  margin-top: 0px;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
}
.leaf-learn{
  cursor: pointer;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  background-image: url('./Early.JPG');
  background-size:cover;
  background-position:center ;
  background-repeat: no-repeat;
  margin-left: 50px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Reccomend Part */
.recomend-text{
  color: #F9C05F;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}


.recomend-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}

.reco-list{
  list-style:circle;
}

.reco-list li{
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* For the Learn Part */
.learn-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.learn-center-container{
  margin-top: 40px;
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 70px;
  
}

.learn-text{
  margin-left: 530px;
  color: #F9C05F;
  font-size: 40px;
  font-family: sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.learn-info-container{
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 100px;
  margin-bottom: -90px;
  margin-top: -30px;
  /* background-color: aquamarine; */

}
.learn-info-container-two{
  display: grid;
  grid-template-columns: 30% 70%;
  padding-bottom: 100px;
  margin-bottom: -90px;
  margin-top: -30px;
}
.learn-part{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}
.learn-part-op{
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  padding-left: 40px;
  margin-right: 123px;
  margin-left: -10px;
  margin-bottom: 50px;
  height: 400px;
}

.learn-div{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.healthy{
  color: #F9C05F;
  font-family: sans-serif;
}

.disc{
  font-family:  sans-serif;
  color: white;
  font-size: 27px;
  margin-top: 20px;
  margin-right: 20px;
}

.learn-btn{
  margin-left: 50px;
  width: 250px;
  height: 70px;
  border-radius: 30px;
  stroke: none;
  border: none;
  background-color: #096319;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-btn{
  margin-left: 20px;
  width: 250px;
  height: 70px;
  border-radius: 30px;
  stroke: none;
  border: none;
  background-color: #096319;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: sans-serif;
  cursor: pointer;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* User Profile Styles */
.scans{
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
}
.user-show{
  position: relative;
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 400px;
}
.user-cover{
  background-image: url('./horizontal.jpg');
  position: relative;
  background-color: #096319;
  height: 200px;  padding-left: 40px;
  border-radius: 50px 50px 0px 0px;
}
.user-pic{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 130px;
  left: 100px;
}
.profile-name{
  margin-top: 5px;
  color: white;
  margin-left: 270px;
  margin-bottom: -5px;
  font-family: sans-serif;

}
.profile-info{
  color: white;
  margin-left: 270px;
  font-family: sans-serif;
}
.scans-count{
  font-size: 90px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin-left: 120px;
}
.scan-info{
  color: white;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-top: -20px;
  margin-left: 30px;
}
.scans button{
  margin-left: 25px;
  margin-top: 35px;

}
.user-show button{
  margin-left: 615px;
  margin-top: -20px;
}